@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <meta name="copyright" content="MACode ID, https://macodeid.com/">

     <title>One Health - Medical Center HTML5 Template</title>

     <link rel="stylesheet" href="../assets/css/maicons.css">

     <link rel="stylesheet" href="../assets/css/bootstrap.css">

     <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.css">

     <link rel="stylesheet" href="../assets/vendor/animate/animate.css">

     <link rel="stylesheet" href="../assets/css/theme.css">
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/maicons/css")
     @Styles.Render("~/bundles/theme/css")
     @Styles.Render("~/bundles/animate/css")
     @Styles.Render("~/bundles/owlcarousel/css")

     @if (IsSectionDefined("Styles"))
     {@RenderSection("Styles", required: false)}
</head>
<body>

     <content>
          @RenderBody()
     </content>

     @Scripts.Render("~/bundles/bootstrapbundle/js")
     @Scripts.Render("~/bundles/jquery351/js")
     @Scripts.Render("~/bundles/googlemaps/js")
     @Scripts.Render("~/bundles/theme/js")
     @Scripts.Render("~/bundles/owlcarousel/js")
     @Scripts.Render("~/bundles/owlcarouselmin/js")
     @Scripts.Render("~/bundles/wow/js")
</body>
</html>


